body {
  padding: 10px;
  background-color: #282c34
}

h1, h2 {
  text-align: center;
  color:#b9c0cb
}
#board{
  margin: 0 auto;
}

#board td{
  border: 1px solid #3d3d3d;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #ddd
}

td.dead {
  background-color: #282c34
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}
#settings_panel{
  margin: 10px auto;
  text-align: center;
  width:350px;
}
